In [ ]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [ ]:
# NASA Mars News
# Scrape the Mars News Site and collect the latest News Title and Paragraph Text.

In [ ]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# URL of page to be scraped
url = 'https://redplanetscience.com/#'
browser.visit(url)

In [ ]:
# find all the news items
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
news = soup.find_all("div", class_="list_text")

    # Iterate through each news item
    for new in news:
    # Identify and return title of listing
    news_title = soup.find_all('div', class_='content_title')
    # Identify and return price of listing
    news_p = soup.find_all('div', class_='article_teaser_body')

#browser.links.find_by_partial_text('More').click()

In [ ]:
browser.quit()

In [ ]:
# Retrieve page with the requests module
response = requests.get(url)

In [ ]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
soup

In [ ]:
# Examine the Mars results to find title and blurb
print(soup.prettify())

In [ ]:
# results are returned as an iterable list
results = soup.find_all('div', class_='card_text')

In [ ]:
results

In [ ]:
# Loop through returned results
for result in results:   
    # Error handling
    try:
        # Identify and return title of listing
        news_title = result.find('div', class_='content_title').text
        # Identify and return price of listing
        news_p = result.find('div', class_='article_teaser_body').text
       

        # Print results only if title, price, and link are available
        if (news_title and news_p):
            print('-------------')
            print(news_title)
            print(news_p)
    except AttributeError as e:
        print(e)

In [ ]:
# Assign the text to variables that you can reference later.

In [ ]:
# Example:
#news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

#news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [ ]:
# JPL Mars Space Images - Featured Image
# Visit the url for the Featured Space Image site here.

In [ ]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

In [ ]:
# Make sure to find the image url to the full size .jpg image.

In [ ]:
# Make sure to save a complete url string for this image.

In [ ]:
# Example:
#featured_image_url = 'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [1]:
# Mars Facts
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
import pandas as pd

In [2]:
# Use Pandas to convert the data to a HTML table string.
url = 'https://galaxyfacts-mars.com'

In [3]:
mars_planet_profile = pd.read_html(url)
mars_planet_profile

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
type(mars_planet_profile)

list

In [13]:
df = mars_planet_profile[-1]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [17]:
# mars table to html
df.to_html('mars_details.html')

In [ ]:
# Mars Hemispheres
# Visit the astrogeology site here to obtain high resolution images for each of Mar's hemispheres.

In [ ]:
# You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

In [ ]:
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name.

In [ ]:
# Use a Python dictionary to store the data using the keys img_url and title.

In [ ]:
# Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [ ]:
# Example:
#hemisphere_image_urls = [
#    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#    {"title": "Cerberus Hemisphere", "img_url": "..."},
#    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
#]

In [ ]:
# Step 2 - MongoDB and Flask Application
# Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.

In [ ]:
# Start by converting your Jupyter notebook into a Python script called scrape_mars.py with a function called scrape that will execute all of your scraping code from above and return one Python dictionary containing all of the scraped data.

In [ ]:
# Next, create a route called /scrape that will import your scrape_mars.py script and call your scrape function.

In [ ]:
# Store the return value in Mongo as a Python dictionary.

In [ ]:
# Create a root route / that will query your Mongo database and pass the mars data into an HTML template to display the data.

In [ ]:
# Create a template HTML file called index.html that will take the mars data dictionary and display all of the data in the appropriate HTML elements. Use the following as a guide for what the final product should look like, but feel free to create your own design.

In [ ]:
# Step 3 - Submission
# To submit your work to BootCampSpot, create a new GitHub repository and upload the following:

In [ ]:
# The Jupyter Notebook containing the scraping code used.

In [ ]:
# Screenshots of your final application.

In [ ]:
# Submit the link to your new repository to BootCampSpot.

In [ ]:
# Ensure your repository has regular commits and a thorough README.md file