In [3]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [ ]:
# NASA Mars News
# Scrape the Mars News Site and collect the latest News Title and Paragraph Text.

In [27]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [28]:
# URL of page to be scraped
url = 'https://redplanetscience.com/#'
browser.visit(url)

In [32]:
# find the latest news items
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
news = soup.find("div", class_="list_text")

# Identify and return title of listing
news_title = soup.find('div', class_='content_title').get_text()
# Identify and return price of listing
news_p = soup.find('div', class_='article_teaser_body').get_text()
# Identify the date (not specified but its a news item and looks weird without a date)
news_date = soup.find('div', class_='list_date').text

print(news_date)
print(news_title)
print('--------')
print(news_p)

October 11, 2021
MOXIE Could Help Future Rockets Launch Off Mars
--------
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

In [33]:
browser.quit()

In [34]:
# JPL Mars Space Images - Featured Image
# Visit the url for the Featured Space Image site here.

In [35]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [36]:
# Make sure to find the image url to the full size .jpg image.

url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [ ]:
# Make sure to save a complete url string for this image.
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [1]:
# Mars Facts
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
import pandas as pd

In [2]:
# Use Pandas to convert the data to a HTML table string.
url = 'https://galaxyfacts-mars.com'

In [3]:
mars_planet_profile = pd.read_html(url)
mars_planet_profile

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
type(mars_planet_profile)

list

In [13]:
df = mars_planet_profile[-1]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [17]:
# mars table to html
df.to_html('mars_details.html')

In [6]:
# Mars Hemispheres
# Visit the astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
url = 'https://marshemispheres.com/'

In [7]:
# You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name.
img1 = 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'
name1 = 'Cerberus Hemisphere Enhanced'
img2 = 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'
name2 = 'Schiaparelli Hemisphere Enhanced'
img3 = 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'
name3 = 'Syrtis Major Hemisphere Enhanced'
img4 = 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'
name4 = 'Valles Marineris Hemisphere Enhanced'

In [10]:
# Use a Python dictionary to store the data using the keys img_url and title.
hemisphere_image_urls = [
    {"title": name1, "img_url": img1},
    {"title": name2, "img_url": img2},
    {"title": name3, "img_url": img3},
    {"title": name4, "img_url": img4},
]

In [11]:
# Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.
hemisphere_image_urls_appended = [{"img_url": 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg', 
                                   "title": 'Cerberus Hemisphere Enhanced'},
                                  {"img_url": 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg', 
                                   "title": 'Schiaparelli Hemisphere Enhanced'},
                                  {"img_url": 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg', 
                                   "title": 'Syrtis Major Hemisphere Enhanced'},
                                  {"img_url": 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg', 
                                   "title": 'Valles Marineris Hemisphere Enhanced'}]

In [ ]:
# Step 2 - MongoDB and Flask Application
# Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.

In [ ]:
# Start by converting your Jupyter notebook into a Python script called scrape_mars.py with a function called scrape that will execute all of your scraping code from above and return one Python dictionary containing all of the scraped data.

In [ ]:
# Next, create a route called /scrape that will import your scrape_mars.py script and call your scrape function.

In [ ]:
# Store the return value in Mongo as a Python dictionary.

In [ ]:
# Create a root route / that will query your Mongo database and pass the mars data into an HTML template to display the data.

In [ ]:
# Create a template HTML file called index.html that will take the mars data dictionary and display all of the data in the appropriate HTML elements. Use the following as a guide for what the final product should look like, but feel free to create your own design.

In [ ]:
# Step 3 - Submission
# To submit your work to BootCampSpot, create a new GitHub repository and upload the following:

In [ ]:
# The Jupyter Notebook containing the scraping code used.

In [ ]:
# Screenshots of your final application.

In [ ]:
# Submit the link to your new repository to BootCampSpot.

In [ ]:
# Ensure your repository has regular commits and a thorough README.md file