In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

### Get Mars News

In [43]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [44]:
mars_news_url = 'https://redplanetscience.com/'
browser.visit(mars_news_url)

In [45]:
# HTML object
news_html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(news_html, 'html.parser')
# retrieve the most recent news item
news_item = soup.select_one('div', class_='list_text')

In [46]:
# soup

In [47]:
# Examine the Mars results to find title and blurb
# print(soup.prettify())

In [48]:
# Retrieve the most recent news item content, date, title, blurb
news_date = soup.find('div', class_='list_date').get_text()
news_date

'December 20, 2021'

In [49]:
news_title = soup.find('div', class_='content_title').get_text()
news_title

'MOXIE Could Help Future Rockets Launch Off Mars'

In [50]:
news_blurb = soup.find('div', class_='article_teaser_body').get_text()
news_blurb

"NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel."

In [10]:
# Display the news scrape
print(news_title)
print(news_date)
print("-------------------------")
print(news_blurb)

Meet the People Behind NASA's Perseverance Rover
December 20, 2021
-------------------------
These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater.

In [11]:
browser.quit()

### Get the JPL Mars Image of the Day

In [12]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [13]:
#JPL Mars Space Images - Featured Image
mars_image_url = 'https://spaceimages-mars.com/'
browser.visit(mars_image_url)

In [14]:
# HTML object
image_html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(image_html, 'html.parser')
# retrieve the most recent news item
#jpl_image = soup.find('div', class_='floating_text_area')

In [15]:
# Use Beautiful Soup's find() method to navigate and retrieve attributes
image_title = soup.find('h1', class_='media_feature_title').get_text()
print(image_title)

Dusty Space Cloud

In [16]:
# soup

In [17]:
featured_image_url = soup.find('img', class_="headerimage")['src']
mars_image_url+featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [18]:
print(mars_image_url+featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [19]:
# Display the url of the full image
print("JPL Featured Image")
print(image_title)
print("----------------------")
print(mars_image_url+featured_image_url)

JPL Featured Image
Dusty Space Cloud
----------------------
https://spaceimages-mars.com/image/featured/mars2.jpg

In [20]:
browser.quit()

### Get Mars Facts

In [21]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [22]:
mars_facts_url = "https://galaxyfacts-mars.com/"
browser.visit(mars_facts_url)

In [23]:
# Use Pandas to parse the url
table = pd.read_html(mars_facts_url)
table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [24]:
mars_df = table[1]

# Create DataFrame
mars_df.columns = ["Description", "Value"]

# Set index to Description
mars_df.set_index("Description", inplace=True)

# Print Data Frame
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [25]:
# Save Mars html code to folder Assets
mars_html_table = mars_df.to_html(classes = 'table table-striped')

# Print Data Frame
print(mars_html_table)

# Strip unwanted newlines to clean up the table
mars_html_table.replace("\n", '')

# Save html code
mars_df.to_html("mars_facts_data.html")

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [26]:
combo_df = table[0]

# Create a DataFrame
combo_df.columns = ["Mars - Earth Comparison", "Mars", "Earth",]

# Set index to Description
combo_df.set_index("Mars - Earth Comparison", inplace=True)

# Drop index first row
combo_df = combo_df.drop(['Mars - Earth Comparison'])

# inspect combo dataframe
combo_df

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [27]:
# Save Combo html code to folder Assets
combo_html_table = combo_df.to_html(classes = 'table table-striped')

# Print Data Frame
print(combo_html_table)

# Strip unwanted newlines to clean up the table
combo_html_table.replace("\n", '')

# Save html code
combo_df.to_html("earth_mars_facts_data.html")

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Mars - Earth Comparison</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [28]:
browser.quit()

### Mars Hemispheres

In [29]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\mdebo\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [30]:
hemisphere_url = "https://marshemispheres.com/"
browser.visit(hemisphere_url)

In [31]:
# HTML object
hemispher_html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(hemispher_html, 'html.parser')

In [32]:
# Scrape all items that contain mars hemispheres information
hemispheres = soup.find_all("div", class_="item")

# Create empty list for hemisphere url
hemispheres_table = []

# store the root url
hemisphere_root_url = 'https://marshemispheres.com'

# Loop thru the Hemispheres
for titles in hemispheres:
    title = titles.find("h3").text
    hemisphere_img = titles.find("a", class_="itemLink product-item")["href"]
    
    # Visit Link
    browser.visit(hemisphere_url + hemisphere_img)
    
    # HTML Object
    image_html = browser.html
    soup = bs(image_html, "html.parser")
    
    # Create full image url
    img_url = hemisphere_root_url + soup.find("img", class_="wide-image")["src"]
    
    # Append the retrieved information into a list of dictionaries
    hemispheres_table.append({"title" : title, "img_url" : img_url})

# Print the items in the list successively
    print("")
    print(title)
    print(img_url)
    print("----------------------------------")

Cerberus Hemisphere Enhanced
https://marshemispheres.comimages/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
----------------------------------

Schiaparelli Hemisphere Enhanced
https://marshemispheres.comimages/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
----------------------------------

Syrtis Major Hemisphere Enhanced
https://marshemispheres.comimages/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
----------------------------------

Valles Marineris Hemisphere Enhanced
https://marshemispheres.comimages/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
----------------------------------

In [33]:
browser.quit()

In [34]:
hemispheres_table

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comimages/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comimages/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comimages/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.comimages/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]